body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/fundodetelacadastro.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .cadastro-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: fixed;
    left: 0%;
    margin: 2%;
    text-align: center;
  }

  .cadastro-container h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .cadastro-container input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .cadastro-container button {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }

  .cadastro-container button:hover {
    background-color: #555;
  }
  .botao-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .botao-link:hover {
    background-color: #555;
  }

  @media (max-width: 480px) {
    .cadastro-container {
      padding: 10px;
    }
  }