<!DOCTYPE html>
<html lang="en">
    <title>Document</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descripition" content="teste formulario">
    <meta name="author" content="Cargafuturo">
    <meta name="keyword" content="Cargafuturo">
    <script src="js/script.js" defer></script>
    <title>Login</title>
</head>  

    <div class="Cargafuturo">
        <h1>Cargafuturo</h1>
        <form action="../php/CargaFuturoController.php" method="post">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" placeholder="Digite o seu Usuario" name="usuario">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" placeholder="Digite a sua senha" name="senha">
            <button><a href="home.html" class="btn btn-dark" id="btnAvançar">Voltar</a></button>
            <input type="submit" value="Logar">
        </form>
        <div>
        </div>
        </h1>
    </div>
</body>
</html> 