<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="01.css">
    <style>
        .box1{
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            font-weight: bold;
            padding: 30px;
            font-size: 500%;
        }
        .box2{
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding: 10px;
            height: 60px;
            width: 750px;
            font-size: 350%;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <h1><div id="home" class="box1">Home</div></h1>
            <form>
                <h2><button><div id="login" class="box2"><a href="login.html">Login</a></div></button></h2>
                <h2><button><div id="Cadastro" class="box2"><a href="cadastro.html">cadastro</a></div></button></h2>
            </form>
        </ul>
    </nav>
</body>
</html>